First dataset : Data-Science and AI Jobs ‚Äì Indeed
Source : Kaggle (Licence CC BY-SA 4.0)
Nombre d‚Äôannonces : ~17 000
Lien : https://www.kaggle.com/datasets/srivnaman/data-science-and-ai-jobsindeed

In [50]:
import pandas as pd

# 1. Traitement du Dataset 1
def traiter_dataset1():
    # Chargement
    chemin = r"C:\Users\dell\Desktop\web scraping\Last project\datasets\Data-Science and AI Jobs ‚Äì Indeed\DataScience and AI Jobs.csv"
    df = pd.read_csv(chemin)
    
    # V√©rification colonnes
    colonnes_requises = ["title", "location", "summary", "salary"]
    for col in colonnes_requises:
        if col not in df.columns:
            raise ValueError(f"Colonne manquante : {col}")
    
    # Transformation
    df_final = pd.DataFrame({
        'Job Title': df['title'],
        'Description': df['summary'],
        'Location': df['location'],
        'Date': pd.NaT,
        'Company': '',
        'Salary': None,
        'URL': '',
        'Skills': None
    })
    
    # Ajout pays
    def detecter_pays(location):
        loc = str(location).lower()
        if any(mot in loc for mot in ["india", "delhi", "mumbai", "hyderabad", "bengaluru"]):
            return "India"
        if any(mot in loc for mot in ["remote", "hybrid"]):
            return "India"
        return "Unknown"
    
    df_final['Location'] = df_final['Location'].apply(detecter_pays)
    
    return df_final

# 2. Ex√©cution et affichage
dataset1 = traiter_dataset1()
print("\nAper√ßu du Dataset 1 (5 premi√®res lignes):")
print(dataset1.head())

# 3. Stockage en m√©moire pour concat√©nation future
datasets_traites = {"dataset1": dataset1}

Aper√ßu du Dataset 1 (5 premi√®res lignes):
                                           Job Title  \
0  newArtificial intelligence security specialist...
1                              newEDA Tool Developer
2  Junior Project Engineer - Artificial Intellige...
3                                          Test Lead
4                                     + Lead Testers

                                         Description Location Date Company  \
0  An artificial intelligence (AI) specialist app...    India  NaT
1  We are seeking highly motivated individuals wi...    India  NaT
2  We are dedicated to providing quality and effe...  Unknown  NaT
3  Working on over 18 different browser/os/ mobil...  Unknown  NaT
4  Total Experience: 6- 8 yrs.\nAutomation Testin...    India  NaT

  Salary URL Skills
0   None       None
1   None       None
2   None       None
3   None       None
4   None       None

second dataset : Data-Science, Data-Analyst & ML Jobs ‚Äì Indeed
Source : Kaggle
Lien : https://www.kaggle.com/datasets/mdwaquarazam/data-science-dataanalyst-and-ml-job-indeed

In [52]:
import pandas as pd
from datetime import timedelta
import re

# 1. Fonction de traitement pour le Dataset 2
def traiter_dataset2():
    # Chargement des donn√©es
    chemin = r"C:\Users\dell\Desktop\web scraping\Last project\datasets\Data-Science, Data-Analyst & ML Jobs ‚Äì Indeed\job_dataset.csv"
    df = pd.read_csv(chemin)
    
    # Nettoyage des noms de colonnes
    df.columns = df.columns.str.lower()
    
    # V√©rification des colonnes requises
    colonnes_requises = ["job_title", "company", "job_location", "job_summary", 
                        "post_date", "today", "job_salary", "job_url"]
    for col in colonnes_requises:
        if col not in df.columns:
            raise ValueError(f"Colonne manquante : {col}")
    
    # Conversion des dates
    def convertir_date(post_date_str, reference_date):
        if pd.isna(post_date_str):
            return pd.NaT
            
        post_date_str = str(post_date_str)
        
        # Gestion des cas particuliers
        if post_date_str in ["Hiring ongoing", "PostedJust posted", "PostedToday"]:
            return reference_date
        if post_date_str == "PostedYesterday":
            return reference_date - timedelta(days=1)
            
        # Extraction du nombre de jours
        jours = re.search(r'(\d+)\+? days? ago', post_date_str)
        if jours:
            return reference_date - timedelta(days=int(jours.group(1)))
            
        return pd.to_datetime(post_date_str, errors='coerce')
    
    reference_date = pd.to_datetime(df['today'].iloc[0])
    df['date_calculee'] = df['post_date'].apply(lambda x: convertir_date(x, reference_date))
    
    # Cr√©ation du DataFrame standardis√©
    df_final = pd.DataFrame({
        'Job Title': df['job_title'],
        'Description': df['job_summary'],
        'Location': df['job_location'],
        'Date': df['date_calculee'],
        'Company': df['company'],
        'Salary': None,
        'URL': df['job_url'],
        'Skills': None
    })
    
    # Ajout de la colonne Country
    def detecter_pays(location):
        loc = str(location).lower()
        return "Unknown" if "unknown" in loc else "India"
    
    df_final['Location'] = df_final['Location'].apply(detecter_pays)
    
    return df_final

# 2. Ex√©cution et affichage
dataset2 = traiter_dataset2()
print("\nAper√ßu du Dataset 2 (5 premi√®res lignes):")
print(dataset2.head())
print("\nR√©partition par pays:")
print(dataset2['Location'].value_counts())

# 3. Stockage en m√©moire
datasets_traites["dataset2"] = dataset2

Aper√ßu du Dataset 2 (5 premi√®res lignes):
                                           Job Title  \
0  Technology Lead : Data Science I Machine Learning
1                Software Engineer, Machine Learning
2        Experienced Over The Shoulder Mechanic- C17
3                                     Data Scientist
4                                   Python Developer

                                         Description Location       Date  \
0  A day in the life of an Infoscion ‚Ä¢ As part of...    India 2022-06-26
1  2 years of relevant work experience in machine...    India 2022-06-26
2  This position will focus on supporting the Boe...    India 2022-07-23
3  Anchor ML development track in a client projec...    India 2022-06-26
4  Should have a decent understanding of the Mach...    India 2022-06-26

           Company Salary                                                URL  \
0  Infosys Limited   None  https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1           Google   None  https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
2           BOEING   None  https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
3  Infosys Limited   None  https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
4  Infosys Limited   None  https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...

  Skills
0   None
1   None
2   None
3   None
4   None

R√©partition par pays:
Location
India      1580
Unknown       3
Name: count, dtype: int64

third dataset : Data-Science Jobs & Salaries ‚Äì Indeed
Source : Kaggle
Lien : https://www.kaggle.com/datasets/ritiksharma07/data-science-jobs-andsalaries-indeed

In [54]:
import pandas as pd

def traiter_dataset3():
    # Chargement des donn√©es
    chemin = r"C:\Users\dell\Desktop\web scraping\Last project\datasets\Data-Science Jobs & Salaries ‚Äì Indeed\Indeed-Data Science Jobs List.csv"
    df = pd.read_csv(chemin)
    
    # V√©rification des colonnes requises
    colonnes_requises = {'Job Title', 'Company', 'Location', 'Salary', 
                        'Short Description', 'Posted At', 'Job link'}
    colonnes_manquantes = [col for col in colonnes_requises if col not in df.columns]
    if colonnes_manquantes:
        raise ValueError(f"Colonnes manquantes : {colonnes_manquantes}")
    
    # Cr√©ation du DataFrame standardis√©
    df_final = pd.DataFrame({
        'Job Title': df['Job Title'],
        'Description': df['Short Description'],
        'Location': df['Location'],
        'Date': pd.NA,  # Dates non disponibles
        'Company': df['Company'],
        'Salary': df['Salary'],
        'URL': df['Job link'],
        'Skills': None  # Colonne √† remplir ult√©rieurement
    })
    
    # Ajout de la colonne Country
    def detecter_pays(location):
        loc = str(location).lower()
        if any(mot in loc for mot in ["remote", "hybrid", "united states"]):
            return "United States"
        return "Unknown"
    
    df_final['Location'] = df_final['Location'].apply(detecter_pays)
    
    return df_final

# Ex√©cution et affichage
dataset3 = traiter_dataset3()
print("\nAper√ßu du Dataset 3 (5 premi√®res lignes):")
print(dataset3.head())
print("\nR√©partition par pays:")
print(dataset3['Location'].value_counts())
print("\nStatistiques des valeurs manquantes:")
print(f"- Dates: {dataset3['Date'].isna().sum()}/{len(dataset3)}")
print(f"- Comp√©tences: {dataset3['Skills'].isna().sum()}/{len(dataset3)}")

# Stockage en m√©moire
datasets_traites["dataset3"] = dataset3

Aper√ßu du Dataset 3 (5 premi√®res lignes):
                                           Job Title  \
0                                     Data Scientist
1  Senior Artificial Intelligence Researcher for ...
2                              Senior Data Scientist
3                                     Data Scientist
4                                     Data Scientist

                                         Description       Location  Date  \
0  The ideal candidate should be highly skilled i...  United States  <NA>
1  As a member of our research team, you will con...        Unknown  <NA>
2  Utilize machine learning techniques, algorithm...        Unknown  <NA>
3  Conduct ad-hoc analyses, build robust automate...        Unknown  <NA>
4  Develops and maintains analytics product proje...  United States  <NA>

                                          Company                      Salary  \
0                                     Robert Half  $120,000 - $140,000 a year
1  Johns Hopkins Applied Physics Laboratory (APL)                         NaN
2               Modern Technology Solutions, Inc.                         NaN
3                        Twitch Interactive, Inc.                         NaN
4               US Office of Personnel Management  $103,409 - $167,336 a year

                                                 URL Skills
0  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...   None
1  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...   None
2  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...   None
3  https://www.indeed.com/rc/clk?jk=4593a41913786...   None
4  https://www.indeed.com/rc/clk?jk=d393197b7bc42...   None

R√©partition par pays:
Location
Unknown          138
United States     62
Name: count, dtype: int64

Statistiques des valeurs manquantes:
- Dates: 200/200
- Comp√©tences: 200/200

fourth dataset (1) :‚Ä¢ ML Engineer Jobs ‚Äì Indeed
Source : Kaggle
Lien : https://www.kaggle.com/datasets/arnabk123/data-science-data-analystand-ml-jobs-from-indeed?select=ML+Engineer+jobs+%28Indeed%29.csv

In [56]:
import pandas as pd

def traiter_dataset4_1():
    # Chargement des donn√©es
    chemin = r"C:\Users\dell\Desktop\web scraping\Last project\datasets\ML Engineer Jobs ‚Äì Indeed\ML Engineer jobs (Indeed).csv"
    df = pd.read_csv(chemin)
    
    # Normalisation des noms de colonnes
    df.columns = df.columns.str.lower().str.strip()
    
    # V√©rification des colonnes requises
    colonnes_requises = ['job title', 'company', 'region', 'skills required']
    manquantes = [col for col in colonnes_requises if col not in df.columns]
    if manquantes:
        raise ValueError(f"Colonnes manquantes : {manquantes}")
    
    # Cr√©ation du DataFrame standardis√©
    df_final = pd.DataFrame({
        'Job Title': df['job title'],
        'Description': '',  # Champ vide
        'Location': df['region'],
        'Date': pd.NA,  # Dates non disponibles
        'Company': df['company'],
        'Salary': pd.NA,  # Salaires non disponibles
        'URL': '',  # URLs vides
        'Skills': df['skills required']  # Seul dataset avec comp√©tences
    })
    
    # D√©tection du pays
    def detecter_pays(location):
        loc = str(location).lower()
        villes_indiennes = ["agra", "bengaluru", "hyderabad", "noida", "mumbai", 
                          "delhi", "pune", "chennai", "kolkata", "jaipur"]
        
        if "india" in loc or "remote" in loc or "hybrid" in loc:
            return "India"
        if any(ville in loc for ville in villes_indiennes):
            return "India"
        return "Unknown"
    
    df_final['Location'] = df_final['Location'].apply(detecter_pays)
    
    return df_final

# Ex√©cution et affichage
dataset4_1 = traiter_dataset4_1()
print("\nAper√ßu du Dataset 4_1 (5 premi√®res lignes):")
print(dataset4_1.head())
print("\nR√©partition par pays:")
print(dataset4_1['Location'].value_counts())
print("\nValeurs manquantes/par d√©faut:")
print("- Description:", (dataset4_1['Description'] == '').sum(), "/", len(dataset4_1))
print("- Date:", dataset4_1['Date'].isna().sum(), "/", len(dataset4_1))
print("- URL:", (dataset4_1['URL'] == '').sum(), "/", len(dataset4_1))
print("- Comp√©tences renseign√©es:", dataset4_1['Skills'].notna().sum(), "/", len(dataset4_1))

# Stockage en m√©moire
datasets_traites["dataset4_1"] = dataset4_1

Aper√ßu du Dataset 4_1 (5 premi√®res lignes):
     Job Title Description Location  Date  \
0  ML Engineer                India  <NA>
1  ML Engineer                India  <NA>
2  ML Engineer                India  <NA>
3  ML Engineer              Unknown  <NA>
4  ML Engineer                India  <NA>

                                           Company Salary URL  \
0                      LanceTech Solutions Pvt Ltd   <NA>
1                      LanceTech Solutions Pvt Ltd   <NA>
2                                           Google   <NA>
3                                 PMAM Corporation   <NA>
4  Mercedes-Benz Research and Development India...   <NA>

                            Skills
0                  Computer Vision
1                  Computer Vision
2        Deep Learning, Tensorflow
3                              NaN
4  Computer Vision, Neural Network

R√©partition par pays:
Location
India      141
Unknown     21
Name: count, dtype: int64

Valeurs manquantes/par d√©faut:
- Description: 162 / 162
- Date: 162 / 162
- URL: 162 / 162
- Comp√©tences renseign√©es: 104 / 162

fourth dataset (2) :‚Ä¢ Data Analyst jobs ‚Äì Indeed
Source : Kaggle
Lien : https://www.kaggle.com/datasets/arnabk123/data-science-data-analystand-ml-jobs-from-indeed?select=ML+Engineer+jobs+%28Indeed%29.csv

In [57]:
import pandas as pd

def prepare_dataset4_2():
    """
    Pr√©pare le dataset 4_2 en m√©moire, avec 'India' dans Location, sans colonne Country.
    """
    chemin = r"C:\Users\dell\Desktop\web scraping\Last project\datasets\ML Engineer Jobs ‚Äì Indeed\Data Analyst jobs (Indeed).csv"

    try:
        # Chargement des donn√©es
        df = pd.read_csv(chemin)
        df.columns = df.columns.str.lower().str.strip()

        # V√©rification des colonnes requises
        colonnes_requises = ['job title', 'company', 'skills required']
        manquantes = [col for col in colonnes_requises if col not in df.columns]
        if manquantes:
            raise ValueError(f"Colonnes manquantes : {manquantes}")

        # Cr√©ation du DataFrame standardis√©
        df_final = pd.DataFrame({
            'Job Title': df['job title'],
            'Description': '',
            'Location': 'India',  # Valeur fixe
            'Date': pd.NA,
            'Company': df['company'],
            'Salary': pd.NA,
            'URL': '',
            'Skills': df['skills required']
        })

        print("‚úÖ Dataset 4_2 pr√™t ")
        print(df_final.head())
        return df_final

    except Exception as e:
        print(f"‚ùå Erreur dans prepare_dataset4_2 : {str(e)}")
        return pd.DataFrame()
datasets_traites["dataset4_2"] = prepare_dataset4_2()

‚úÖ Dataset 4_2 pr√™t
      Job Title Description Location  Date                     Company Salary  \
0  Data analyst                India  <NA>                   BP Energy   <NA>
1  Data analyst                India  <NA>                     Arcadis   <NA>
2  Data analyst                India  <NA>  Scan Holdings Pvt. Limited   <NA>
3  Data analyst                India  <NA>                      BOEING   <NA>
4  Data analyst                India  <NA>     Boston Consulting Group   <NA>

  URL              Skills
0                     NaN
1      Big Data, Database
2                     NaN
3                     NaN
4                     NaN

fourth dataset (3) :‚Ä¢ Data Analyst Jobs ‚Äì Indeed
Source : Kaggle
Lien : https://www.kaggle.com/datasets/arnabk123/data-science-data-analystand-ml-jobs-from-indeed?select=ML+Engineer+jobs+%28Indeed%29.csv

In [59]:
import pandas as pd

def prepare_dataset4_3():
    """
    Pr√©pare le dataset 4_3 en m√©moire avec 'Location' fix√© √† 'India', sans colonne 'Country'.
    """
    chemin = r"C:\Users\dell\Desktop\web scraping\Last project\datasets\ML Engineer Jobs ‚Äì Indeed\Data Analyst jobs (Indeed).csv"

    try:
        # Chargement des donn√©es
        df = pd.read_csv(chemin)
        df.columns = df.columns.str.lower().str.strip()

        # V√©rification des colonnes requises
        colonnes_requises = ['job title', 'company', 'skills required']
        manquantes = [col for col in colonnes_requises if col not in df.columns]
        if manquantes:
            raise ValueError(f"Colonnes manquantes : {manquantes}")

        # Cr√©ation du DataFrame standardis√©
        df_final = pd.DataFrame({
            'Job Title': df['job title'],
            'Description': '',
            'Location': 'India',  # Valeur fixe
            'Date': pd.NA,
            'Company': df['company'],
            'Salary': pd.NA,
            'URL': '',
            'Skills': df['skills required']
        })

        print("‚úÖ Dataset 4_3 pr√™t (Location = 'India')")
        print(df_final.head())
        return df_final

    except Exception as e:
        print(f"‚ùå Erreur dans prepare_dataset4_3 : {str(e)}")
        return pd.DataFrame()
datasets_traites["dataset4_3"] = prepare_dataset4_3()

‚úÖ Dataset 4_3 pr√™t (Location = 'India')
      Job Title Description Location  Date                     Company Salary  \
0  Data analyst                India  <NA>                   BP Energy   <NA>
1  Data analyst                India  <NA>                     Arcadis   <NA>
2  Data analyst                India  <NA>  Scan Holdings Pvt. Limited   <NA>
3  Data analyst                India  <NA>                      BOEING   <NA>
4  Data analyst                India  <NA>     Boston Consulting Group   <NA>

  URL              Skills
0                     NaN
1      Big Data, Database
2                     NaN
3                     NaN
4                     NaN

fifth dataset :Data-Science Job Postings & Skills (servira de lexique open source pour
l‚Äôextraction des comp√©tences)
Source : Kaggle
Lien : https://www.kaggle.com/datasets/asaniczka/data-science-job-postingsand-skills/data

In [60]:
import pandas as pd
import numpy as np

def format_date_to_iso(date_str):
    """Convertit une date en format ISO (YYYY-MM-DD)."""
    if pd.isna(date_str) or str(date_str).strip() == '':
        return None
    try:
        dt = pd.to_datetime(date_str, errors='coerce')
        return dt.strftime('%Y-%m-%d') if not pd.isna(dt) else None
    except:
        return None

def map_location_to_country(location):
    """Mappe un champ location √† un pays."""
    if pd.isna(location):
        return "Unknown"
    
    loc = location.lower()

    # Canada
    if any(x in loc for x in ["canada", "ontario", "quebec", "british columbia", "nova scotia",
                              "alberta", "saskatchewan", "manitoba", "new brunswick", "newfoundland",
                              "prince edward island"]):
        return "Canada"
    
    # United Kingdom
    if any(x in loc for x in ["england", "united kingdom", "scotland", "wales",
                              "northern ireland", "london area"]):
        return "United Kingdom"
    
    # Australia
    if any(x in loc for x in ["australia", "queensland", "victoria", "new south wales",
                              "australian capital territory", "western australia", "darwin"]):
        return "Australia"

    # Mexico
    if any(x in loc for x in ["mexico", "baja california"]):
        return "Mexico"

    # Italy
    if any(x in loc for x in ["italy", "lombardy"]):
        return "Italy"

    # United States
    us_states = ["united states", "ca", "ny", "tx", "fl", "wa", "pa", "va", "nc", "oh", "il", "nj", "az", "ga",
                 "or", "co", "mi", "mn", "wi", "sc", "in", "mo", "ok", "ky", "al", "tn", "la", "nv", "ar", "ut",
                 "nm", "ia", "ks", "ct", "ma", "ri", "vt", "nh", "me", "mt", "nd", "sd", "ne", "id", "wv", "wy",
                 "ak", "hi"]
    if any(state in loc for state in us_states):
        return "United States"
    
    return "Unknown"

def transform_dataset5_memory(input_path1, input_path2):
    try:
        # Chargement des fichiers
        df_main = pd.read_csv(input_path1)
        df_skills = pd.read_csv(input_path2)
        
        # Format de date
        df_main['formatted_date'] = df_main['last_processed_time'].apply(format_date_to_iso)
        
        # Agr√©gation des comp√©tences par job_link
        skills_agg = df_skills.groupby('job_link')['job_skills'].agg(
            lambda x: ', '.join([str(s) for s in x if pd.notna(s)])
        ).reset_index()
        
        # Fusion des deux dataframes
        df_final = pd.merge(df_main, skills_agg, on='job_link', how='left')
        df_final.columns = df_final.columns.str.lower().str.strip()
        
        # Construction du DataFrame final au format standard
        new_df = pd.DataFrame({
            'Job Title': df_final['job_title'],
            'Description': '',
            'Location': df_final['job_location'],
            'Date': df_final['formatted_date'],
            'Company': df_final['company'],
            'Salary': np.nan,
            'URL': df_final['job_link'],
            'Skills': df_final['job_skills']
        })

        # Remplacement de 'Location' par le pays d√©tect√©
        new_df['Location'] = new_df['Location'].apply(map_location_to_country)

        print("‚úÖ Dataset 5 transform√© en m√©moire (Location ‚Üí Country)")
        print(f"üîé Offres trait√©es: {len(new_df)}")
        print(f"üåç R√©partition par pays :\n{new_df['Location'].value_counts().head()}")

        return new_df

    except Exception as e:
        print(f"‚ùå Erreur dans transform_dataset5_memory : {str(e)}")
        return pd.DataFrame()
datasets_traites["dataset5"] = transform_dataset5_memory(
    r"C:\Users\dell\Desktop\web scraping\Last project\datasets\Data-Science Job Postings & Skills\job_postings.csv",
    r"C:\Users\dell\Desktop\web scraping\Last project\datasets\Data-Science Job Postings & Skills\job_skills.csv"
)

‚úÖ Dataset 5 transform√© en m√©moire (Location ‚Üí Country)
üîé Offres trait√©es: 12217
üåç R√©partition par pays :
Location
United States     10163
United Kingdom     1117
Canada              634
Australia           175
Unknown             114
Name: count, dtype: int64

In [61]:
import pandas as pd
import numpy as np

def prepare_dataset6():
    input_file = r"C:\Users\dell\Desktop\web scraping\Last project\datasets\scrapped_jobs_api.csv"
    df = pd.read_csv(input_file)

    def extract_country(location):
        if pd.isna(location):
            return "Unknown"
        
        loc = location.lower()

        if "puerto rico" in loc or "pr" in loc:
            return "Puerto Rico"
        
        if any(x in loc for x in ["canada", "ontario", "british columbia", "alberta", "quebec", "nova scotia", "manitoba", "new brunswick"]):
            return "Canada"
        
        if any(x in loc for x in ["united kingdom", "england", "scotland", "wales", "london", "northern ireland"]):
            return "United Kingdom"
        
        if any(x in loc for x in ["australia", "queensland", "victoria", "new south wales", "australian capital territory", "nsw", "melbourne", "sydney"]):
            return "Australia"
        
        if any(x in loc for x in ["mexico", "baja california"]):
            return "Mexico"

        if any(x in loc for x in [
            "united states", "usa", "al", "ak", "az", "ar", "ca", "co", "ct", "dc", "de", "fl", "ga", "hi", "id", "il", "in", "ia",
            "ks", "ky", "la", "me", "md", "ma", "mi", "mn", "ms", "mo", "mt", "ne", "nv", "nh", "nj", "nm", "ny", "nc", "nd", "oh",
            "ok", "or", "pa", "ri", "sc", "sd", "tn", "tx", "ut", "vt", "va", "wa", "wv", "wi", "wy"
        ]) or "," in loc:
            return "United States"

        return "Unknown"

    # Appliquer la d√©tection de pays
    df['Location'] = df['Location'].apply(extract_country)

    # Cr√©ation du DataFrame final au format commun
    df_final = pd.DataFrame({
        'Job Title': df['Title'] if 'Title' in df.columns else np.nan,
        'Description': '',
        'Location': df['Location'],
        'Date': df['DatePosted'] if 'DatePosted' in df.columns else np.nan,
        'Company': df['Company'] if 'Company' in df.columns else np.nan,
        'Salary': np.nan,
        'URL': df['URL'] if 'URL' in df.columns else np.nan,
        'Skills': ''
    })

    print("‚úÖ Dataset 6 pr√©par√© en m√©moire")
    print(df_final[['Location']].value_counts().head())

    return df_final
datasets_traites["dataset6"] = prepare_dataset6()

‚úÖ Dataset 6 pr√©par√© en m√©moire
Location
United States    4631
Puerto Rico        46
Unknown            22
Canada              5
Australia           4
Name: count, dtype: int64

join dataset et traitement du salary et push dans mongodb compass

In [62]:
import pandas as pd
import numpy as np
import re
from pymongo import MongoClient

# --- 1. Normalisation des salaires ---
def normalize_salary(s):
    if pd.isna(s):
        return np.nan
    s_clean = s.replace(',', '').replace('CA$', '').replace('USD', '').replace('$', '').strip()
    match = re.findall(r'(\d+\.?\d*)\s*[-‚Äì]?\s*(\d+\.?\d*)?\s*(a year|yearly|a month|a week|an hour|a day|hr|mo|yr|hour|monthly|daily)?', s_clean.lower())
    if not match:
        return np.nan
    try:
        min_val = float(match[0][0])
        max_val = float(match[0][1]) if match[0][1] else min_val
        avg_val = (min_val + max_val) / 2
        period = match[0][2]
        if "hour" in period or "hr" in period:
            return avg_val * 40 * 52
        elif "week" in period:
            return avg_val * 52
        elif "month" in period or "mo" in period:
            return avg_val * 12
        elif "day" in period or "daily" in period:
            return avg_val * 5 * 52
        else:
            return avg_val
    except:
        return np.nan

# --- 2. Pipeline principal ---
def pipeline_in_memory(datasets_dict):
    print("üîÑ Fusion des datasets en m√©moire...")
    df_final = pd.concat(datasets_dict.values(), ignore_index=True)

    print("üßπ Normalisation des salaires...")
    df_final["Salary"] = df_final["Salary"].apply(normalize_salary)
    print("‚úÖ Salaires normalis√©s")

    # üîß Normalisation des dates
    print("üïí Normalisation des dates au format 'DD-MM-YYYY'...")
    df_final["Date"] = pd.to_datetime(df_final["Date"], errors='coerce').dt.strftime('%d-%m-%Y')
    print("‚úÖ Dates normalis√©es")
    print("üìä Aper√ßu du jeu de donn√©es fusionn√© :")
    print(df_final.head())

    print("\nüì° Connexion √† MongoDB Compass...")
    try:
        client = MongoClient("mongodb://localhost:27017/")
        db = client["job_database"]
        collection = db["job_offers"]

        # Nettoyer la collection avant insertion (optionnel mais conseill√©)
        collection.delete_many({})

        # Insertion
        records = df_final.to_dict(orient="records")
        collection.insert_many(records)
        print(f"‚úÖ {len(records)} documents ins√©r√©s avec succ√®s dans MongoDB !")

    except Exception as e:
        print(f"‚ùå Erreur lors de l'insertion dans MongoDB: {e}")

# --- 3. Lancement ---
if __name__ == "__main__":
    pipeline_in_memory(datasets_traites)

üîÑ Fusion des datasets en m√©moire...
üßπ Normalisation des salaires...
‚úÖ Salaires normalis√©s
üïí Normalisation des dates au format 'DD-MM-YYYY'...
‚úÖ Dates normalis√©es
üìä Aper√ßu du jeu de donn√©es fusionn√© :
                                           Job Title  \
0  newArtificial intelligence security specialist...
1                              newEDA Tool Developer
2  Junior Project Engineer - Artificial Intellige...
3                                          Test Lead
4                                     + Lead Testers

                                         Description Location Date Company  \
0  An artificial intelligence (AI) specialist app...    India  NaN
1  We are seeking highly motivated individuals wi...    India  NaN
2  We are dedicated to providing quality and effe...  Unknown  NaN
3  Working on over 18 different browser/os/ mobil...  Unknown  NaN
4  Total Experience: 6- 8 yrs.\nAutomation Testin...    India  NaN

   Salary URL Skills
0     NaN       None
1     NaN       None
2     NaN       None
3     NaN       None
4     NaN       None

üì° Connexion √† MongoDB Compass...
‚úÖ 21280 documents ins√©r√©s avec succ√®s dans MongoDB !

job skills dataset (relational database)

In [63]:
import pandas as pd
from pymongo import MongoClient

# Load CSVs
company_df = pd.read_csv(r"C:\Users\dell\Desktop\web scraping\Last project\datasets\skill job dataset relationnel\company_dim.csv")
job_df = pd.read_csv(r"C:\Users\dell\Desktop\web scraping\Last project\datasets\skill job dataset relationnel\job_postings_fact.csv")
skills_df = pd.read_csv(r"C:\Users\dell\Desktop\web scraping\Last project\datasets\skill job dataset relationnel\skills_dim.csv")
skills_job_df = pd.read_csv(r"C:\Users\dell\Desktop\web scraping\Last project\datasets\skill job dataset relationnel\skills_job_dim.csv")

# Merge job postings with companies
job_with_company = pd.merge(job_df, company_df, on="company_id", how="left")

# Merge skills with their IDs
skills_full = pd.merge(skills_job_df, skills_df, on="skill_id", how="left")

# Merge everything by job_id
final_df = pd.merge(job_with_company, skills_full, on="job_id", how="left")

# Group by job_id and aggregate
cleaned_df = final_df.groupby("job_id").agg({
    "job_title_short": "first",
    "job_posted_date": "first",
    "job_country": "first",
    "name": "first",
    "salary_year_avg": "first",
    "link": "first",
    "skills": lambda x: ', '.join(sorted(set(filter(pd.notna, x))))
}).reset_index()

# Format date
cleaned_df["Date"] = pd.to_datetime(cleaned_df["job_posted_date"], errors='coerce').dt.strftime('%d-%m-%Y')

# Add Description as NaN
cleaned_df["Description"] = pd.NA

# Rename columns
cleaned_df = cleaned_df.rename(columns={
    "job_title_short": "Job Title",
    "job_country": "Location",
    "name": "Company",
    "salary_year_avg": "Salary",
    "link": "URL",
    "skills": "Skills"
})

# Reorder columns
final_columns = ["Job Title", "Description", "Location", "Date", "Company", "Salary", "URL", "Skills"]
cleaned_df = cleaned_df[final_columns]

# Save to CSV
cleaned_df.to_csv("job_data_cleaned_final.csv", index=False)
print("‚úÖ Final CSV saved as 'job_data_cleaned_final.csv'")

# Push to MongoDB Compass
try:
    client = MongoClient("mongodb://localhost:27017/")
    db = client["job_database"]
    collection = db["job_offers"]

    # Convert DataFrame to dictionary and insert into MongoDB
    collection.insert_many(cleaned_df.to_dict(orient="records"))
    print("‚úÖ Donn√©es ins√©r√©es dans MongoDB Compass (collection: job_offers)")
except Exception as e:
    print(f"‚ùå Erreur lors de l'insertion MongoDB : {e}")

‚úÖ Final CSV saved as 'job_data_cleaned_final.csv'
‚úÖ Donn√©es ins√©r√©es dans MongoDB Compass (collection: job_offers)